
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrum-area ptb-100 bg-opacity-2 bg-img-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrum-content d-flex justify-content-center">
						<ol class="breadcrumb">
							<li><a href="#">HOME</a></li>
							<li class="active">blog details</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrum-area end-->
	<!-- sidebar-area start-->
	<div class="sidebar-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="health-wrapper">
						<div class="health-img">
							<a href="#"><img src="~/img/health/4.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h2>HealthNut Nutrition</h2>
							<p>Nikky introduced me to the world of YouTubers and the healthy living community on YouTube.real deal,
								which I can say with
								100% certainty because she’s become one of
								my really good friends in real life.</p>
							<h3>COURSE DESCRIPTION</h3>
							<p>Lorem Ipsum is simply dummy text of the
								printing and typesetting industry. Lorem
								Ipsum has been the industry’s standard dummy
								text ever since the 1500s, when an unknown printer
								took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries,
								but also the leap into electronic typesetting,
								remaining essentially unchanged.</p>
							<h3>CERTIFICATION</h3>
							<p>Lorem Ipsum is simply dummy text of the
								printing and typesetting industry. Lorem
								Ipsum has been the industry’s standard dummy
								text ever since the 1500s, when an unknown printer
								took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries,
								but also the leap into electronic typesetting,
								remaining essentially unchanged.</p>
							<h3>LEARNING OUTCOMES</h3>
							<p>Over 37 lectures and 55.5 hours of content!
								LIVE PROJECT End to End Software Testing
								Training Included.Learn Software Testing
								and Automation basics from a professional
								trainer from your own desk.Information
								packed practical training starting
								from basics to advanced testing
								techniques.Best suitable for
								beginners to advanced level users
								and who learn faster when demonstrated.
								Course content designed by considering
								current software testing technology
								and the job market.Practical
								assignments at the end of every
								session.Practical learning experience
								with live project work and examples.</p>
							<p>Pellentesque lacus vamus lorem arcu semper
								duiac Cras ornare arcu avamus nda leo. Etiam
								ind arcu. Morbi justo mauri segtempus pharetra
								interdum congue semper purus. Lorem ipsum dolor
								sit amet sed consectetur adipisicing elit
								sed eiusmod tempor incididunt Lorem ipsum
								dolor sit amet consectetur adipisicing elit.</p>
							<div class="health-content-meta">
								<span><i class="fa fa-clock-o"></i> December 20, 2019</span>
								<span><i class="fa fa-user"></i> eleyas</span>
								<span><i class="fa fa-folder-o"></i> business, corporate, creative</span>
							</div>
						</div>
						<div class="respond-area">
							<div class="respond-title">
								<h3>Leave a Reply</h3>
								<p>Your email address will not be published. Required fields are marked *</p>
							</div>
							<div class="comments-area">
								<div class="comments-heading">
									<h4>2 Comments on “HealthNut Nutrition” </h4>
								</div>
							</div>
							<div class="comments-box bg-gray">
								<div class="author-img">
									<a href="#"><img src="~/img/comments.png" alt="" /></a>
								</div>
								<div class="author-text">
									<h5>eleyas</h5>
									<small>January 22, 2019 at 5:07 am</small>
									<div class="copy-text">
										<p>Pellentesque lacus vamus lorem arcu semper duiac Cras ornare arcu avamus nda leo.Etiam
											ind arcu. Morbi justo mauri segtempus pharetra
											interdum congue semper purus. Lorem ipsum dolor
											sit amet sed</p>
										<a href="#">reply</a>
									</div>
								</div>
							</div>
						</div>
						<div class="respond-area mt-30 res-xs">
							<div class="respond-title">
								<h3>Leave a Reply</h3>
								<p>Your email address will not be published. Required fields are marked *</p>
							</div>
							<div class="respond-form">
								<form action="#">
									<label>Comment</label>
									<textarea name="message" placeholder=""></textarea>
									<label>name<span class="required">*</span></label>
									<input type="text" placeholder="" />
									<label>email<span class="required">*</span></label>
									<input type="text" placeholder="" />
									<label>website</label>
									<input type="text" placeholder="" />
									<button>post comments</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="sidebar-widget">
						<div class="sidebar-heading">
							<h4>search</h4>
						</div>
						<div class="search-form">
							<form action="#">
								<input type="text" placeholder="search..." />
								<button>search</button>
							</form>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="sidebar-heading mt-50">
							<h4>Recent Posts</h4>
						</div>
						<ul class="sidebar-menu">
							<li><a href="blog-details.html">HealthNut Nutrition</a></li>
							<li><a href="blog-details.html">The Wellness Wonderland</a></li>
							<li><a href="blog-details.html">In It 4 The Long Run</a></li>
							<li><a href="blog-details.html">Almost Getting it Together</a></li>
						</ul>
					</div>
					<div class="sidebar-widget">
						<div class="sidebar-heading mt-50">
							<h4>Archives</h4>
						</div>
						<ul class="sidebar-menu">
							<li><a href="#">January 2019</a></li>
							<li><a href="#">December 2019</a></li>
							<li><a href="#">March 2019</a></li>
							<li><a href="#">April 2019</a></li>
							<li><a href="#">May 2019</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

