
@{
    ViewData["Title"] = "Blog2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="breadcrum-area ptb-100 bg-img-3 bg-opacity-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrum-content d-flex justify-content-center">
						<ol class="breadcrumb">
							<li><a href="#">home</a></li>
							<li><a href="#">blog left sidebar</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrum-area end-->
	<!-- sidebar-area start-->
	<div class="sidebar-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="sidebar-widget">
						<div class="sidebar-heading">
							<h4>search</h4>
						</div>
						<div class="search-form">
							<form action="#">
								<input type="text" placeholder="search..." />
								<button>search</button>
							</form>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="sidebar-heading mt-50">
							<h4>Categories</h4>
						</div>
						<ul class="sidebar-menu">
							<li><a href="#">business</a></li>
							<li><a href="#">corporate</a></li>
							<li><a href="#">creative</a></li>
							<li><a href="#">news</a></li>
							<li><a href="#">Uncategorized</a></li>
						</ul>
					</div>
					<div class="sidebar-widget">
						<div class="sidebar-heading mt-50">
							<h4>Archives</h4>
						</div>
						<ul class="sidebar-menu">
							<li><a href="#">January 2019</a></li>
							<li><a href="#">December 2019</a></li>
							<li><a href="#">March 2019</a></li>
							<li><a href="#">April 2019</a></li>
							<li><a href="#">May 2019</a></li>
						</ul>
					</div>
					<div class="sidebar-widget mt-50">
						<div class="sidebar-heading">
							<h4>tags</h4>
						</div>
						<ul class="tag-menu">
							<li><a href="#">Css</a></li>
							<li><a href="#">Joomla</a></li>
							<li><a href="#">Photo</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Html</a></li>
							<li><a href="#">Php</a></li>
							<li><a href="#">Wordpress</a></li>
						</ul>
					</div>
					<div class="sidebar-widget res-xs">
						<div class="sidebar-heading mt-50">
							<h4>Latest post</h4>
						</div>
						<ul class="sidebar-menu">
							<li><a href="#">HealthNut Nutrition</a></li>
							<li><a href="#">The Wellness Wonderland</a></li>
							<li><a href="#">In It 4 The Long Run</a></li>
							<li><a href="#">Almost Getting it Together</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="health-wrapper mb-40">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/1.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">HealthNut Nutrition</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
								<span><i class="fa fa-folder-o"></i> business / news / Uncategorized</span>
							</div>
							<p>Nikky introduced me to the world of YouTubers and the healthy living community on YouTube.
								real deal, which I can say with 100% certainty because she’s become one of my really good friends in
								real life. COURSE DESCRIPTION Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								Lorem ... </p>
							<a href="blog-details.html">Read more</a>
						</div>
					</div>
					<div class="health-wrapper mb-40">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/2.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">The Wellness Wonderland</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
								<span><i class="fa fa-folder-o"></i> business / news / Uncategorized</span>
							</div>
							<p>I met Katie through Nikky and she is probably best know for her Podcast, The Wellness Wonderland. She’s
								also influential all over the interwebs,
								but it’s her podcast is what reeled me in COURSE DESCRIPTION Lorem Ipsum is simply dummy text of the
								printing and typesetting industry. Lorem Ipsum has ... </p>
							<a href="blog-details.html">Read more</a>
						</div>
					</div>
					<div class="health-wrapper mb-40">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/3.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">The Wellness Wonderland</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
								<span><i class="fa fa-folder-o"></i> business / news / Uncategorized</span>
							</div>
							<p>I met Katie through Nikky and she is probably best know for her Podcast, The Wellness Wonderland. She’s
								also influential all over the interwebs,
								but it’s her podcast is what reeled me in COURSE DESCRIPTION Lorem Ipsum is simply dummy text of the
								printing and typesetting industry. Lorem Ipsum has ... </p>
							<a href="blog-details.html">Read more</a>
						</div>
					</div>
					<div class="health-wrapper">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/5.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">Almost Getting it Together</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
								<span><i class="fa fa-folder-o"></i> business / news / Uncategorized</span>
							</div>
							<p>From the start, Cassie has been open and honest about the trials and tribulations of being a
								twenty-something just trying to figure it all out. I could relate so much to her journey COURSE
								DESCRIPTION Lorem Ipsum is simply
								dummy text of the printing and typesetting industry. Lorem Ipsum has ... </p>
							<a href="blog-details.html">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

