
@{
    ViewData["Title"] = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider-area">
		<div class="single-slider" style="background-image:url(~/img/slider/4.jpg)">
			<div class="slider-content text-center text-white">
				<div class="container">
					<h3>Need a Doctor?</h3>
					<h2>APPOINTMENT TODAY</h2>
					<p>The perfect class for your child with the best.Lorem ipsum is simply dum.</p>
					<a class="btn" href="#">Learn more</a>
					<a class="btn" href="#">purchase</a>
				</div>
			</div>
		</div>
	</div>
	<!-- slider-area end -->
	<!-- feature-area-start -->
	<div class="feature-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="single-feature text-center res-xs">
						<div class="icon">
							<a href="#"><i class="fa fa-ambulance"></i></a>
						</div>
						<div class="feature-text">
							<h3>Abbulance</h3>
							<p>An ambulance is a vehicle for transportation of sick or injured people to,
								from or between</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single-feature text-center res-xs">
						<div class="icon">
							<a href="#"><i class="fa fa-stethoscope"></i></a>
						</div>
						<div class="feature-text">
							<h3>Stethoscope</h3>
							<p>The stethoscope is an acoustic medical device for auscultation,
								or listening to the internal</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="single-feature text-center ">
						<div class="icon">
							<a href="#"><i class="fa fa-medkit"></i></a>
						</div>
						<div class="feature-text">
							<h3>Medikit</h3>
							<p>Medikit is one of the world’s leading manufacturers
								in certain categories of vascular</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- feature-area-end -->
	<!-- purchase-area start -->
	<div class="purchase-area bg-img-1 ptb-100  bg-opacity">
		<div class="container">
			<div class="purchase-content text-center text-white">
				<h3>Want to purchase our Theme ? </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et
					dolore magna aliqua. Ut <br /> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut
					aliquip ex ea commodo conse</p>
				<a class="btn btn-blue" href="#">contact us</a>
			</div>
		</div>
	</div>
	<!-- purchase-area end -->
	<!--  service-area start  -->
	<div class="service-area ptb-100">
		<div class="container">
			<div class="row custom-row">
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-h-square"></i>
						<h3>Square clinic</h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-book"></i>
						<h3>Book</h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-heartbeat"></i>
						<h3>Heartbeat</h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-hospital-o"></i>
						<h3>Hospital </h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-user-md"></i>
						<h3>User Md Clinic </h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-plus-square"></i>
						<h3>Plus Square</h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-wheelchair"></i>
						<h3>Wheelchair </h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
				<div class="col-md-3 custom-col">
					<div class="service-box text-center single-service-box">
						<i class="fa fa-medkit"></i>
						<h3>Medkit </h3>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  service-area end  -->
	<!-- counter-area start -->
	<div class="counter-area ptb-100 pb-70 bg-img-2 bg-opacity">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6 mb-30">
					<div class="single-counter text-center text-white">
						<div class="counter-icon">
							<i class="fa fa-user-md"></i>
						</div>
						<h4 class="counter">20</h4>
						<p>Doctor</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mb-30">
					<div class="single-counter text-center text-white">
						<div class="counter-icon">
							<i class="fa fa-smile-o"></i>
						</div>
						<h4 class="counter">50</h4>
						<p>Patients</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mb-30">
					<div class="single-counter text-center text-white">
						<div class="counter-icon">
							<i class="fa fa-bed"></i>
						</div>
						<h4 class="counter">100</h4>
						<p>Rooms</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mb-30">
					<div class="single-counter text-center text-white">
						<div class="counter-icon">
							<i class="fa fa-trophy"></i>
						</div>
						<h4 class="counter">120</h4>
						<p>Awards</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- counter-area end -->
	<!-- gallery-area start -->
	<div class="gallery-area pt-100 pb-70">
		<div class="container">
			<div class="section-heading text-center">
				<h2>Our Gallery </h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/1.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/1.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/2.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/2.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/3.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/3.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/4.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/4.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/5.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/5.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/6.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/6.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/3.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/3.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/7.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/7.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gallery-box mb-30">
						<div class="gallery-img">
							<img src="~/img/gallery/8.jpg" alt="" />
						</div>
						<div class="gallery-text">
							<a class="img-zoom" href="~/img/gallery/8.jpg"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- gallery-area end -->
	<!-- testimonial-area start-->
	<div class="testimonial-area ptb-100 bg-gray">
		<div class="container">
			<div class="section-heading text-center">
				<h2>Patient Testimonials </h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
			</div>
			<div class="row">
				<div class="testimonial-active">
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/1.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Jessica</h3>
									<span>Humility</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo
									sit
									amet cetur adipiscing elit sed</P>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/2.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Brian Adam</h3>
									<span>Physician</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo
									sit
									amet cetur adipiscing elit sed</P>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/1.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Jessica</h3>
									<span>Humility</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo
									sit
									amet cetur adipiscing elit sed</P>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/2.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Brian Adam</h3>
									<span>Physician</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo
									sit
									amet cetur adipiscing elit sed</P>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial-area end -->
	<!-- blog-area start -->
	<div class="blog-area ptb-100">
		<div class="container">
			<div class="section-heading text-center">
				<h2>Our experienced doctors’ staff</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
					laoreet dolore
					magna aliquam erat volutpat</p>
			</div>
			<div class="row">
				<div class="blog-active">
					<div class="col-lg-12">
						<div class="single-blog">
							<div class="blog-img">
								<a href="doctor-details.html"><img src="~/img/doctor/1.jpg" alt="" /></a>
							</div>
							<div class="blog-content text-center">
								<h3>Dr. shaddam</h3>
								<span>Aktu fazil typer</span>
							</div>
							<div class="blog-icon text-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-blog">
							<div class="blog-img">
								<a href="doctor-details.html"><img src="~/img/doctor/2.jpg" alt="" /></a>
							</div>
							<div class="blog-content text-center">
								<h3>Dr. Mina Aktar</h3>
								<span>Family and General Practitioners</span>
							</div>
							<div class="blog-icon text-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-blog">
							<div class="blog-img">
								<a href="doctor-details.html"><img src="~/img/doctor/3.jpg" alt="" /></a>
							</div>
							<div class="blog-content text-center">
								<h3>Dr. Moksed Ali</h3>
								<span>Dentists, General</span>
							</div>
							<div class="blog-icon text-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-blog">
							<div class="blog-img">
								<a href="doctor-details.html"><img src="~/img/doctor/4.jpg" alt="" /></a>
							</div>
							<div class="blog-content text-center">
								<h3>Dr. Akhi Mahmud</h3>
								<span>Prosthodontists</span>
							</div>
							<div class="blog-icon text-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-blog">
							<div class="blog-img">
								<a href="doctor-details.html"><img src="~/img/doctor/1.jpg" alt="" /></a>
							</div>
							<div class="blog-content text-center">
								<h3>Dr. shaddam</h3>
								<span>Aktu fazil typer</span>
							</div>
							<div class="blog-icon text-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-blog">
							<div class="blog-img">
								<a href="doctor-details.html"><img src="~/img/doctor/2.jpg" alt="" /></a>
							</div>
							<div class="blog-content text-center">
								<h3>Dr. Mina Aktar</h3>
								<span>Family and General Practitioners</span>
							</div>
							<div class="blog-icon text-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- blog-area end -->
	<!--  subscribe-area start  -->
	<div class="subscribe-area ptb-100 bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-md-6">
					<div class="subscribe-text">
						<h3>SUBSCRIBE OUR NEWSLETTER</h3>
					</div>
				</div>
				<div class="col-xl-5 col-md-6">
					<div id="mc_embed_signup" class="subscribe-form">
						<form
							action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
							method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
							target="_blank" novalidate>
							<div id="mc_embed_signup_scroll" class="mc-form">
								<input type="email" value="" name="EMAIL" class="email" placeholder="Your email address" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
										tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
										class="button"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  subscribe-area end  -->
	<!-- tips-area start -->
	<div class="health-tips-area ptb-100">
		<div class="container">
			<div class="section-heading text-center">
				<h2>Health Tips</h2>
				<p>Latest news & event of our schools.</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="health-wrapper res-xs">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/1.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">HealthNut Nutrition</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
							</div>
							<p>Nikky introduced me to the world of YouTubers and the healthy living community on … </p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="health-wrapper res-xs">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/2.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">The Wellness Wonderland</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
							</div>
							<p>Nikky introduced me to the world of YouTubers and the healthy living community on … </p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="health-wrapper">
						<div class="health-img">
							<a href="blog-details.html"><img src="~/img/health/3.jpg" alt="" />
								<span class="link"><i class="fa fa-link"></i></span>
							</a>
						</div>
						<div class="health-content">
							<h4><a href="blog-details.html">In It 4 The Long Run</a></h4>
							<div class="health-meta">
								<span><i class="fa fa-calendar"></i> December 20, 2019</span>
							</div>
							<p>Nikky introduced me to the world of YouTubers and the healthy living community on … </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

