
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="breadcrum-area ptb-100 bg-img-3 bg-opacity-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrum-content d-flex justify-content-center">
						<ol class="breadcrumb">
							<li><a href="#">home</a></li>
							<li><a href="#">service</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrum-area end-->
	<!--  service-area start  -->
	<div class="service-area ptb-100">
		<div class="container">
			<div class="section-heading text-center">
				<h2>Our / Services </h2>
				<p>Our best Feature for your kids</p>
			</div>
			<div class="row">
				<div class="col-md-6 mb-30">
					<div class="single-service ">
						<i class="fa fa-h-square"></i>
						<div class="service-content">
							<h3>Square clinic</h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-30 ">
					<div class="single-service ">
						<i class="fa fa-book"></i>
						<div class="service-content">
							<h3>Book</h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-30">
					<div class="single-service ">
						<i class="fa fa-heartbeat"></i>
						<div class="service-content">
							<h3>Heartbeat</h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-30">
					<div class="single-service ">
						<i class="fa fa-hospital-o"></i>
						<div class="service-content">
							<h3>Hospital </h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-30">
					<div class="single-service ">
						<i class="fa fa-user-md"></i>
						<div class="service-content">
							<h3>User Md Clinic </h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-30">
					<div class="single-service ">
						<i class="fa fa-plus-square"></i>
						<div class="service-content">
							<h3>Plus Square</h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-service">
						<i class="fa fa-wheelchair"></i>
						<div class="service-content">
							<h3>Wheelchair </h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-service ">
						<i class="fa fa-medkit"></i>
						<div class="service-content">
							<h3>Medkit </h3>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  service-area end  -->
	<!-- purchase-area start -->
	<div class="purchase-area parallax-active bg-img-4 ptb-100  bg-opacity">
		<div class="container">
			<div class="purchase-content text-center text-white">
				<h3>Want to purchase our TEMPLATE ? </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut <br /> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					commodo conse</p>
				<a class="btn btn-blue" href="#">contact us</a>
			</div>
		</div>
	</div>
	<!-- purchase-area end -->
	<!--  pricing-area start  -->
	<div class="purchase-area ptb-100">
		<div class="container">
			<div class="section-heading text-center">
				<h2>OUR / PRICING</h2>
				<p>Lorem provide best service consectetur.</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="pricing-box mb-30 text-center">
						<div class="pricing-plan">
							<h3>Teeth Whitening</h3>
							<span>$240/6 Month </span>
						</div>
						<div class="pricing-list">
							<ul>
								<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
							</ul>
							<a class="btn order" href="#">order now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="pricing-box mb-30 text-center active">
						<div class="pricing-plan">
							<h3>Extractions</h3>
							<span>$300/9 Month </span>
						</div>
						<div class="pricing-list">
							<ul>
								<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
							</ul>
							<a class="btn order btn-active" href="#">order now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="pricing-box mb-30 text-center">
						<div class="pricing-plan">
							<h3>Aerodigestive</h3>
							<span>$500/12 Month </span>
						</div>
						<div class="pricing-list">
							<ul>
								<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
							</ul>
							<a class="btn order" href="#">order now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="pricing-box mb-30 text-center">
						<div class="pricing-plan">
							<h3>Tooth Implants </h3>
							<span>$120/3 Month </span>
						</div>
						<div class="pricing-list">
							<ul>
								<li>Diagnostic Services</li>
								<li>Professional Consultation</li>
								<li>Tooth Implants</li>
								<li>Surgical Extractions</li>
								<li>Teeth Whitening</li>
							</ul>
							<a class="btn order" href="#">order now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  pricing-area end  -->
	<!-- testimonial-area start-->
	<div class="testimonial-area ptb-100 bg-gray">
		<div class="container">
			<div class="section-heading text-center">
				<h2>CLIENT SPEECH </h2>
				<p>Lorem provide best service consectetur adipiscing elit.FF</p>
			</div>
			<div class="row">
				<div class="testimonial-active">
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/1.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Jessica</h3>
									<span>Humility</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo sit amet cetur
									adipiscing elit sed</P>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/2.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Brian Adam</h3>
									<span>Physician</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo sit amet cetur
									adipiscing elit sed</P>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/1.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Jessica</h3>
									<span>Humility</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo sit amet cetur
									adipiscing elit sed</P>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial-wrapper">
							<div class="testimonial-img">
								<img src="~/img/testimonial/2.jpg" alt="" />
							</div>
							<div class="testimonial-text">
								<div class="client-name text-center">
									<h3>Brian Adam</h3>
									<span>Physician</span>
								</div>
								<P> Lorem provide best service consectetur adipisc ing elit,sed do eiusmod tempor dolo sit amet cetur
									adipiscing elit sed</P>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial-area end -->
	<!--  brand-area start  -->
	<div class="brand-area pt-100 pb-70">
		<div class="container">
			<div class="section-heading text-center">
				<h2>OUR SPONSORS</h2>
				<p>Latest news & event of our schools.</p>
			</div>
			<div class="row">
				<div class="brand-active">
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/1.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/2.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/3.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/4.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/1.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/2.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

