
@{
    ViewData["Title"] = "Team4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="breadcrum-area ptb-100 bg-img-3 bg-opacity-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrum-content d-flex justify-content-center">
						<ol class="breadcrumb">
							<li><a href="#">home</a></li>
							<li><a href="#">team 4 column</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrum-area end-->
	<!-- blog-area start -->
	<div class="blog-area pt-100 pb-60">
		<div class="container">
			<div class="section-heading text-center">
				<h2>Our / team </h2>
				<p>Stay up to date with all our latest news and launches.FF</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 mb-30">
					<div class="single-blog">
						<div class="blog-img">
							<a href="doctor-details.html"><img src="~/img/doctor/1.jpg" alt="" /></a>
						</div>
						<div class="blog-content text-center">
							<h3>Dr. shaddam</h3>
							<span>Aktu fazil typer</span>
						</div>
						<div class="blog-icon text-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-30">
					<div class="single-blog">
						<div class="blog-img">
							<a href="doctor-details.html"><img src="~/img/doctor/2.jpg" alt="" /></a>
						</div>
						<div class="blog-content text-center">
							<h3>Dr. Mina Aktar</h3>
							<span>Family and General Practitioners</span>
						</div>
						<div class="blog-icon text-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-30">
					<div class="single-blog">
						<div class="blog-img">
							<a href="doctor-details.html"><img src="~/img/doctor/3.jpg" alt="" /></a>
						</div>
						<div class="blog-content text-center">
							<h3>Dr. Moksed Ali</h3>
							<span>Dentists, General</span>
						</div>
						<div class="blog-icon text-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-30">
					<div class="single-blog">
						<div class="blog-img">
							<a href="doctor-details.html"><img src="~/img/doctor/4.jpg" alt="" /></a>
						</div>
						<div class="blog-content text-center">
							<h3>Dr. Akhi Mahmud</h3>
							<span>Prosthodontists</span>
						</div>
						<div class="blog-icon text-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- blog-area end -->
	<!--  brand-area start  -->
	<div class="brand-area pt-100 pb-70">
		<div class="container">
			<div class="section-heading text-center">
				<h2>OUR SPONSORS</h2>
				<p>Latest news & event of our schools.</p>
			</div>
			<div class="row">
				<div class="brand-active">
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/1.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/2.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/3.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/4.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/1.png" alt="" />
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand mb-30">
							<img src="~/img/brand/2.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

